In [ ]:
#descobrir o perimetro de um triangulo retangulo, , retangulo e trapezio

In [27]:
#quadrado:
lado = 42
pquadrado= lado*4
areaq=lado*lado
print (pquadrado)

168

In [73]:
#triangulo
lado1 = 32
lado2 = 25
lado3= 55
areaT= lado1*lado2/2
perimetro=lado1+lado2+lado3

In [75]:
print (areaT) 


print(perimetro)

400.0
112

In [83]:
#retangulo
lado1=30
lado2=15
area=lado1*lado2
perimetro= 15*2+30*2
print(area) 
print(perimetro)

450
90

In [126]:
#trapezio
base1=35
lado1=20
base2=50
area=(base1+base2)/2
perimetro=lado1*2+base1+base2
print (area) 
print(perimetro)

42.5
125

In [151]:
# clt
codigo_de_empregado =31415910
salario_por_hora= 15
horas_trabalhadas = float(input('digite o numero de horas trabalhadas'))
dias_trabalhados = float(input('digite o numero de dias trabalhados.'))
calculate = dias_trabalhados * (horas_trabalhadas*salario_por_hora)
print ("seu salario e:" , calculate , "dolares")
print ("codigo de empregado:" , codigo_de_empregado)

digite o numero de horas trabalhadas 12
digite o numero de dias trabalhados. 24

seu salario e: 4320.0 dolares
codigo de empregado: 31415910