In [19]:
nome = 'jooj'
if nome == ('jooj'): print ('nome legal')
else: print ("nome chato")

nome chato

In [95]:
valor = 99
if valor >= 99 : print('ta caro')
elif valor >= 30 : print ('ta medio')
elif valor >= 0 : print ('ta gratis')

ta caro

In [99]:
nomes = ['matheus','kaiky','andre','raphael']
pessoa_nova = 'jo'
if pessoa_nova == ('joão') : print ('newer')
else : print ('GET OUT!')

GET OUT!

In [117]:
nota = int(input("digite sua nota"))
if nota >= 10 : print('parabens')
else : print ('melhore')

digite sua nota 1000

parabens

In [303]:
#menor q 5 = repete. 5 a 7 recupera + q 7 passa de ano
nota1 = float(input('digite nota 1 (ate 10)'))

if nota1 > 10 : print ('invalido')
else : print ('valido')
nota2 = float(input('digite a nota 2 (ate 10)'))
if nota2 > 10 :print ('invalido')
else : print ('valido')
if nota1 + nota2 >20 : print ("invalida, tente outra vez")
else : print((nota1+nota2)/2)
if ((nota1+nota2)/2) < 5 : print ('reprovou')
elif ((nota1+nota2)/2) >= 5 and ((nota1+nota2)/2) <= 7 : print ('recuperação')
elif ((nota1+nota2)/2) > 7 and ((nota1+nota2)/2)<= 10 : print ('aprovado')

digite nota 1 (ate 10) 9.99999999999999999999999999999999999999999999999999999999999999999999999999999999999999

valido

digite a nota 2 (ate 10) 0

valido
5.0
recuperação